@import url(reset.css);
@import url(common.css);

.wrap{
    width: 100%;
    max-width: 393px;
    margin: 0 auto;
}

header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px;
    position: relative;
}

.sub_menu_wrap{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 20;
    transition: 0.3s;
    padding: 30px 20px;
    background-color: #F2F2F2;
    cursor: pointer;
}

.ham_menu{
    cursor: pointer;
}

.tab_header{
    display: flex;
    justify-content: space-between;
}

.ham_menu_on{
    margin-top: 50px;
    margin-left: 20px;
}

.ham_menu_on li{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}

.line{
    width: 318px;
    height: 2px;
    opacity: 0.3;
    background-color: rgba(128, 128, 128, 0.3);
    margin-top: 30px;
}

.tab_bottom_logo{
    margin-top: 175px;
}

/* header end */

.section_1{
    position: relative;
    background: url(../img/sec_1/sec_1_bg.png) no-repeat center / cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_wrap_1 h2{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(29, 29, 29, 0.25);
    line-height: 38px;
}

.title_wrap_1 p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 1px 2px rgba(29, 29, 29, 0.25);
}

.scroll_icon{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: scroll_ani;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes scroll_ani {
    0%{
        bottom: 25px;
        opacity: 0.5;
    }

    100%{
        bottom: 15px;
        opacity: 1;
    }
}
/* section_1 end */

.section_2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_wrap_2{
    text-align: center;
}

.title_wrap_2 h2,
.title_wrap_2 p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(29, 29, 29, 0.7);
    line-height: 25px;
}

.title_wrap_2 h2{
    margin-top: 79px;
    margin-bottom: 40px;
}

.section_2 span{
    color: rgba(29, 29, 29);
    font-weight: 700;
}

.download_btn{
    width: 201px;
    height: 45px;
    background-color: #BD1A21;
    border-radius: 30px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download_btn a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    margin-top: 30px;
}

.download_icon{
    margin-left: 10px;
}

.water_bg{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10;
}
/* section_2 end */

.section_3{
    background-color: rgba(217, 217, 217, 0.3);
}

.section_3 h2{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
}

.con_wrap_3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section_3 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    color: #1d1d1d;
    text-align: center;
}
/* section_3 end */

.section_4{
    position: relative;
    background: url(../img/sec_4/sec_4_img.png) no-repeat center / cover;
}

.blur_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(29, 29, 29, 0.5);
    backdrop-filter: blur(7.5px);
}

.title_wrap_4,
.con_wrap_4{
    position: relative;
    z-index: 20;
}

.title_wrap_4{
    text-align: center;
}

.title_wrap_4 h2{
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.title_wrap_4 p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    opacity: 0.7;
    margin-top: 25px;
    margin-bottom: 79px;
}

.con_wrap_4_1{
    margin-bottom: 45px;
}

.con_wrap_4_1,
.con_wrap_4_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cir_4{
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 1.5px solid #fff;
    background-color: rgba(29, 29, 29, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_wrap_4{
    width: 34.5%;
}

.con_4{
    margin: 0 auto;
}

.con_4 p{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 12px;
}

.arrow_btn_4{
    position: relative;
    bottom: 20px;
}
/* section_4 end */

.section_5{
    background-color: #F4F4F4;
}

.section_5 h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

input{
    all: unset;
    width: 100%;
    height: 50px;
    background-color: #d9d9d97a;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    color: #1d1d1d;
}

.contact,
.text_con_5_1,
.text_con_5_2{
    position: relative;
}

.text{
    position: absolute;
    top: 15px;
    left: 20px;
    color: #706f6f;
}

.text span{
    font-size: 12px;
    color: #BD1A21;
    position: relative;
    top: -4px;
    left: 2px;
}


textarea{
    all: unset;
    width: 100%;
    height: 130px;
    background-color: #d9d9d97a;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.contact_5_2{
    display: flex;
    gap: 16px;
}

.contact_5_2,
.contact_5_3{
    margin-top: 10px;
}

button{
    all: unset;
    width:  100%;
    height: 50px;
    background-color: #BD1A21;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

/* section_5 end */

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #BD1A21;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer_logo{
    width: 120px;
    margin: 0 auto 30px;
    opacity: 0.3;
}

footer a,
p,
.copyright{
    color: #fff;
}

footer a{
    font-size: 14px;
    font-weight: 400;
}

.name_f,
.number_f{
    width: 247px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px;
}

.email_f{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.adress{
    display: flex;
    justify-content: center;
}

footer p{
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    margin-top: 40px;
}

.sns_wrap{
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin: 35px auto 45px;
}

.copyright{
    font-size: 11px;
    font-weight: 400;
    opacity: 0.5;
    text-align: center;
}

