@import url(reset.css);
@import url(common.css);

.wrap{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.sub_menu_wrap{
    display: none;
}

header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px;
}
/* header end */

.section_1{
    position: relative;
    background: url(../img/sec_1/sec_1_bg.png) no-repeat center / cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_wrap_1 h2{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(29, 29, 29, 0.25);
    line-height: 38px;
}

.title_wrap_1 p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(29, 29, 29, 0.25);
}

.scroll_icon{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}